<div class="header">
	<nav>
		<ul class="nav nav-pills" role="tablist">
			<li role="presentation">
				<img class="img-responsive" src="public/pic/hr.jpg" style="height:100%">
			</li>
			<li role="presentation">
			<a href="<?php echo U('Topic','showTopicList')."&pid=1"; ?>">训练场</a>
			</li>
			<li role="presentation">
			<a href="<?php echo U('Ladder','showLadderList'); ?>">天梯</a>
			</li>
			<li role="presentation">
			<a href="<?php echo U('Rank','showTopicRank'); ?>">排名</a>
			</li>
			<li role="presentation">
			<a href="<?php echo U('Code','showStatus')."&pid=1"; ?>">提交状态</a>
			</li>
			<li role="presentation">
			<a href="<?php echo U('User','showUserInfo'); ?>">个人信息</a>
			</li>
			<li role="presentation">
			<a href="#">学习资料</a>
			</li>
		</ul>
	</nav>
</div>
